@model Concert

@if (Model == null)
{
    <text>There are no concert details</text>
    return;
}
else
{
    ViewData["Title"] = $"{Model.Artist} - {Model.Title}";
}

<h1>
    @Model.Artist &ndash; @Model.Title
    <span class="label label-info">@Model.Price.ToString("c")</span>
</h1>
<div class="text-muted"><span class="badge bg-secondary">@Model.Genre</span> @Model.StartTime.UtcDateTime.ToString() &raquo; @Model.Location</div>
<div class="well offset-top-md">@Model.Description</div>

<div class="mt-3">
    <a asp-controller="Cart" asp-action="Add" asp-route-concertId="@Model.Id" class="btn btn-success">Add To Cart &raquo;</a>
</div>

@if (User.IsInRole(Roles.Administrator))
{
    <div class="mt-3">
        <a asp-controller="Concert" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit &raquo;</a>
    </div>

    <div class="mt-3">
        <a asp-controller="Concert" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete &raquo;</a>
    </div>   
}

<fieldset>
    <legend>User Reviews</legend>
    
    <!-- todo: add reviews/comments -->
    <div class="alert alert-info">There aren't any reviews yet, be the first to add one below!</div>
</fieldset>

@*
<fieldset>
    <legend>Your Review</legend>
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="alert alert-warning">You have to <a asp-controller="Account" asp-action="SignIn" asp-route-returnurl="@this.Context.Request.Path">sign in</a> to add a review!</div>
    }
    else
    {
        <form asp-controller="Concert" asp-action="Review" method="post">
            <div>
                <input type="radio" name="rating" value="1" id="rating1" /> <label for="rating1" class="text-danger"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> &mdash; Terrible</label><br />
                <input type="radio" name="rating" value="2" id="rating2" /> <label for="rating2" class="text-warning"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span> &mdash; Bad</label><br />
                <input type="radio" name="rating" value="3" id="rating3" /> <label for="rating3" class="text-primary"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span> &mdash; OK</label><br />
                <input type="radio" name="rating" value="4" id="rating4" /> <label for="rating4" class="text-info"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span> &mdash; Good</label><br />
                <input type="radio" name="rating" value="5" id="rating5" /> <label for="rating5" class="text-success"><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span><span class="glyphicon glyphicon-star" aria-hidden="true"></span> &mdash; Excellent</label><br />
            </div>
            <div>
                <textarea name="description" class="form-control offset-top-md" placeholder="We appreciate your feedback!"></textarea>
            </div>
            <div>
                <input type="hidden" name="concertId" value="@Model.Id" />
                <input type="submit" class="btn btn-primary offset-top-md" value="Submit" />
            </div>
        </form>
    }
</fieldset>
*@